<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile picture update</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <input
      type="file"
      name="image_url"
      (change)="onFileChanged($event)"
      #fileInput
    />
  </div>
  <div class="modal-footer">
    <button
      type="button"
      (click)="modal.dismiss('Close click')"
      class="btn btn-outline-dark"
    >
      Close
    </button>
  </div>
</ng-template>

<div class="row justify-content-center py-3">
  <div class="col-md-3 p-3 text-center">
    <img
      src="{{ user.image_url || 'assets/profile.png' }}"
      alt="Profile Image"
      class="img-fluid mx-auto d-block profile-img"
    />
    <button class="btn btn-link" (click)="open(content)">
      Profile Picture
    </button>
  </div>
  <div class="col-md-7 p-3">
    <div class="d-flex justify-content-between mb-3">
      <h2 class="username">haseebahmad70</h2>
      <button class="btn btn-primary btn-sm">Edit Profile</button>
    </div>
    <div class="d-flex mb-3">
      <div class="flex-1"><b>0</b> posts</div>
      <div class="flex-1"><b>104</b> followers</div>
      <div class="flex-1"><b>128</b> following</div>
    </div>
    <h5 class="">Haseeb Ahmed</h5>
  </div>
</div>
<hr />
<div class="row py-2 mb-5">
  <div class="col-md-4 p-5 mb-2">
    <img
      src="/assets/profile.png"
      alt="Profile Image"
      class="img-fluid mx-auto d-block"
    />
  </div>
  <div class="col-md-4 p-5 mb-2">
    <img
      src="/assets/profile.png"
      alt="Profile Image"
      class="img-fluid mx-auto d-block"
    />
  </div>
</div>
