.profile-img {
  border-radius: 50%;
}
.username {
  font-weight: 300;
  margin: 0;
}
.flex-1 {
  flex: 1;
}
.posts-picture {
  max-width: 128px;
  height: auto;
}
.following-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.users {
  list-style: none;
}
