.profile-img {
  border-radius: 50%;
}
.username {
  font-weight: 300;
  margin: 0;
}
.flex-1 {
  flex: 1;
}
.posts-picture {
  max-width: 128px;
  height: auto;
}
.following-img {
  width: 32px;
  height: 32px;
  border-radius: 45%;
}
.users {
  margin-left: 0;
  list-style: none;
}
.users > li {
  padding: 2px 2px 2px 0;
}
.users > li > a {
  margin-left: 6px;
}
